<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/head" />
<script type="text/javascript" charset="utf-8" src="../lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../lib/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="../lib/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	<div class="x-body">
		<form class="layui-form layui-form-pane" action="/actpage/doEdit">
			<input type="hidden" name="id" th:value="${actPage.id}" />
			<input type="hidden" name="updateCount" th:value="${actPage.updateCount}" />
			<div class="layui-tab">
			  <ul class="layui-tab-title">
			    <li class="layui-this">活动基本信息</li>
			    <li>活动内容</li>
			  </ul>
			  <div class="layui-tab-content">
			    <div class="layui-tab-item layui-show">
			    	<div class="layui-form-item">
						<label for="L_title" class="layui-form-label">活动标题</label>
						<div class="layui-input-block">
							<input type="text" id="L_title" name="actName"
								lay-verify="required" placeholder="请输入活动标题" autocomplete="off"
								th:value="${actPage.actName}"
								class="layui-input">
						</div>
					</div>
				
					<div class="layui-form-item" pane>
						<label for="L_title" class="layui-form-label">活动状态</label>
						<div class="layui-input-block">
							<input type="radio" name="actState" value="1" title="已上线" th:checked="${actPage.actState eq 1}">
							<input type="radio" name="actState" value="2" title="维护中" th:checked="${actPage.actState eq 2}">
							<input type="radio" name="actState" value="3" title="已下线" th:checked="${actPage.actState eq 3}">
						</div>
					</div>
					<div class="layui-form-item">
						<label for="L_title" class="layui-form-label">活动分类</label>
						<div class="layui-input-block">
							<select name="actCategory">
								<option value="">--请选择活动分类--</option>
								<option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.catName}" th:selected="${category.id eq actPage.actCategory.id}" ></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">活动描述</label>
						<div class="layui-input-block">
							<textarea name="actDesc" placeholder="请输入活动描述"
								class="layui-textarea" th:text="${actPage.actDesc}"></textarea>
						</div>
					</div>
			    </div>
			    <div class="layui-tab-item">
			    	<div class="layui-form-item">
						<div class="col-md-10">
							<textarea id="editor_id" name="actContent" style="width:100%;height:500px;" th:text="${actPage.actContent}"></textarea>
						</div>
					</div>
			    </div>
			  </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="common/js"></div>
	<div th:replace="common/setting"></div>
	<script charset="utf-8" src="/lib/kindeditor/kindeditor-all-min.js"></script>
	<script charset="utf-8" src="/lib/kindeditor/lang/zh-CN.js"></script>
	<script type="text/javascript">
		layui.use(['xform','element']);
		KindEditor.ready(function(K) {
	         window.editor = K.create('#editor_id',{
	        	 items:[
	        	        'source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste',
	        	        'insertorderedlist', 'insertunorderedlist', '|',
	        	        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
	        	        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
	        	         'table','link', 'unlink', '|', 'about','fullscreen'
	        	],
	        	filePostName:'file',
	        	allowFileManager : false,
	        	allowImageRemote:false,
	        	uploadJson:'/upload/image'
	         });
	    });
	</script>
</body>
</html>