<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/head" />
<script type="text/javascript" charset="utf-8"
	src="../lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../lib/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../lib/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	<div class="x-body">
		<form class="layui-form layui-form-pane" action="/actpage/doEdit">
			<input type="hidden" name="id" th:value="${actPage.id}">
			 <input
				type="hidden" name="updateCount" th:value="${actPage.updateCount}">
			<div class="layui-form-item">
				<label for="L_title" class="layui-form-label">活动标题</label>
				<div class="layui-input-block">
					<input type="text" id="L_title" name="actName"
						th:value="${actPage.actName}" lay-verify="required"
						placeholder="请输入活动分类名称" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item" lay-filter="">
				<select name="actState">
					<option value="">--请选择活动状态--</option>
					<option value="1" th:selected="${actPage.actState eq 1}">已上线</option>
					<option value="2" th:selected="${actPage.actState eq 2}">维护中</option>
					<option value="3" th:selected="${actPage.actState eq 3}">已下线</option>
					<option value="4" th:selected="${actPage.actState eq 4}">已删除</option>
				</select>
			</div>
			<div class="layui-form-item">
				<select name="actCategory" lay-verify="">
					<option value="">--请选择活动分类--</option>
						<option th:each="category : ${categoryList}" th:value="${category.id}"
							th:selected="${category.id eq actPage.actCategory.id}"><span
								th:text="${category.catName}"></span></option>
				</select>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">活动描述</label>
				<div class="layui-input-block">
					<textarea name="actDesc" placeholder="请输入活动描述"
						th:text="${actPage.actDesc}" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="col-md-10" style="width: 100%;">
					<textarea id="editor" name="actContent" type="text/plain"><span
							th:text="${actPage.actContent}"></span></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="common/js"></div>
	<div th:replace="common/setting"></div>

	<script type="text/javascript">
		var ue = UE.getEditor('editor');
	</script>
	<script type="text/javascript">
		layui.use('xform');
	</script>
</body>
</html>