<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/head" />
</head>
<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" action="/actcategory/doEdit">
        <input type="hidden" name="id" th:value="${actcategory.id}">
        <div class="layui-form-item">
            <label for="L_title" class="layui-form-label">活动分类名</label>
            <div class="layui-input-block">
                <input type="text" id="L_title" name="catName" th:value="${actcategory.catName}" lay-verify="required" placeholder="请输入活动分类名称"
                autocomplete="off" class="layui-input">
            </div>
        </div>
	<div class="layui-form-item layui-form-text">
	   <label class="layui-form-label">描述</label>
	   <div class="layui-input-block">
	     <textarea name="catDesc" placeholder="请输入活动描述" th:text="${actcategory.catDesc}" class="layui-textarea"></textarea>
	  </div>
</div>
  <div class="layui-form-item">
  	<div class="layui-input-block">
    		<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
    		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
  	</div>
</div>
    </form>
</div>
<div th:replace="common/js"></div>
<div th:replace="common/setting"></div>
<script type="text/javascript">
	layui.use('xform');
</script>
</body>
</html>