<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/head" />
</head>
<body>
	<div class="x-body">
		<form class="layui-form"
			style="padding-bottom: 10px; text-align: left;">
			活动分类名：
			<div class="layui-inline">
				<input class="layui-input" type="text" name="catName"
					autocomplete="off" placeholder="活动分类名">
			</div>
			<button class="layui-btn" lay-submit lay-filter="search">
				<i class="layui-icon">&#xe615;</i>
			</button>
		</form>

		<xblock>
		<button class="layui-btn dialog" data-url="/actcategory/add"
			data-title="新增活动">
			<i class="layui-icon">&#xe608;</i>添加
		</button>
		<button class="layui-btn layui-btn-danger del-all"
			data-url="/user/delete">
			<i class="layui-icon">&#xe640;</i>批量删除
		</button>
		</xblock>

		<table class="layui-table"
			lay-data="{height:'full-230', url:'/actcategory/list', page:true, id:'table',limit:20}"
			lay-filter="table">
			<thead>
				<tr>
					<th lay-data="{checkbox:true, fixed: true}"></th>
					<th lay-data="{field:'catName', width:150}">活动分类名</th>
					<th lay-data="{field:'catDesc', width:300,templet:'#state-tpl'}">活动介绍</th>
					<th
						lay-data="{fixed: 'right', width:260, align:'center', toolbar: '#row-bar'}">操作</th>
				</tr>
			</thead>
		</table>



		<script type="text/html" id="row-bar">
 			 	<a class="layui-btn layui-btn-small" lay-event="edit" data-url="/actcategory/edit" data-title="编辑用户" data-width="800" data-height="600" ><i class="layui-icon">&#xe642;</i> 编辑</a>
  				<a class="layui-btn layui-btn-danger layui-btn-small" lay-event="del" data-url='/actcategory/delete'><i class="layui-icon">&#xe640;</i> 删除</a>
		</script>
	</div>
	<div th:replace="common/js"></div>
	<div th:replace="common/setting"></div>
	<script type="text/javascript">
		layui.use('xtable');
	</script>

</body>
</html>